<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <link href="css/appbar.css" rel="stylesheet" type="text/css" />
    <title>SmartFarm - 카메라기록</title>
</head>

<body>
    <app-bar></app-bar>
    <!--메뉴바 라인-->
    <div class="home_content">
        <div class="test">촬영 기록 조회 페이지</div>
    </div>
    <div id="footer">

    </div>
</body>
<script src="components/appbar.js"></script>
<script src="js/appbar.js"></script>

</html>