<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <link href="css/appbar.css" rel="stylesheet" type="text/css" />
    <link href="css/dailyreport.css" rel="stylesheet" type="text/css" />
    <title>SmartFarm - 농장일지</title>
</head>

<body>
    <app-bar></app-bar>
    <!--메뉴바 라인-->

    <div class="post_box">
        <div class="post_box_body">
            <label>작성</label>
            <form action="/freeboard/write" method="POST">
                <input type="text" name="post_title" class="post_title" placeholder="작물 이름" />
                <textarea name="post_contents" class="post_contents" placeholder="내용"></textarea>
                <input type="button" class="post_submit" value="작성하기" />
            </form>
        </div>
    </div>

    <div class="edit_box">
        <div class="edit_box_body">
            <label>수정</label>
            <form action="/freeboard/write" method="POST">
                <input type="text" name="edit_seq" class="edit_seq" placeholder="작물 번호" style="display:none"/>
                <input type="text" name="edit_title" class="edit_title" placeholder="작물 이름" />
                <textarea name="edit_contents" class="edit_contents" placeholder="내용"></textarea>
                <input type="button" class="edit_submit" value="수정하기" />
            </form>
        </div>
    </div>

    <div class="home_content">
        <div class="_blank"></div>
        <div id="container" class="container">
            <div id="contents">
                <div class="header_line">
                    <h2 class="main_title">일지 작성</h2>
                </div>

                <div class="middle_line">
                    <form method="post">
                        <div class="posting_button_wrap">
                            <div class="posting_button">
                                작성하기
                            </div>
                        </div>

                        <div class="posting_search_wrap">
                            <div class="select_search_option">
                                <div class="select_search_option_button">
                                    <sub>작성일자 검색</sub>
                                    <sub>키워드 검색</sub>
                                </div>
                            </div>
                            <div class="posting_search_date" style="display: block;">
                                <label class="writeDateTitle">작성일자 :</label>
                                <input type="date" name="date1" id="date1" class="selectDate" value="">
                                ~
                                <input type="date" name="date2" id="date2" class="selectDate" value="">
                            </div>
                            <div class="posting_search_keyword" style="display: none;">
                                <label class="selectKeywordTitle">키워드 검색 :</label>
                                <select name="selectKeyword" id="selectKeyword">
                                    <option value="식물">식물</option>
                                    <option value="내용">내용</option>
                                </select>
                                <input type="text" name="searchKeyword" id="searchKeyword" class="searchKeyword">
                            </div>
                        </div>

                        <div class="search_button">
                            <div class="totalSearchButton">검색하기</div>
                        </div>
                    </form>
                </div>

                <!--리스트 라인-->
                <div class="posting_content">
                    <div class="column_title">
                        <ul>
                            <li>
                                번호
                            </li>
                            <li>
                                식물
                            </li>
                            <li>
                                내용
                            </li>
                            <li>
                                작성일자
                            </li>
                            <li>
                                수정
                            </li>
                            <li>
                                삭제
                            </li>
                        </ul>
                    </div>

                    <div id="display_list">
                        <ul>
                            <li>
                                Null
                            </li>
                            <li>
                                Null
                            </li>
                            <li>
                                Null
                            </li>
                            <li>
                                Null
                            </li>
                            <li>
                                Null
                            </li>
                            <li>
                                Null
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <!--웹 워터마크 라인-->

        <div id="footer">

        </div>
    </div>

</body>
<script src="components/appbar.js"></script>
<script src="js/appbar.js"></script>
<script src="js/posting_window.js"></script>
<script src="js/editing_window.js"></script>
<script src="js/dailyreport.js"></script>

</html>