<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <link href="css/appbar.css" rel="stylesheet" type="text/css" />
    <link href="css/monitoring_list.css" rel="stylesheet" type="text/css" />
    <title>SmartFarm - 모니터링리스트</title>
</head>

<body>
    <app-bar></app-bar>
    <!--메뉴바 라인-->
    <!--nav 라인-->
    <div class="home_content">
        <div class="main_content">
            <div class="header_line">
                <h2 class="main_title">스마트팜 리스트</h2>
                <div id="clock" class="clock">
                    <p>00:00:00</p>
                </div>
            </div>
    
            <div id="middle_line" class="middle_line">
                <div>
                    <ul>
                        <li>
                            번호
                        </li>
                        <li>
                            농장명
                        </li>
                        <li>
                            위치지역
                        </li>
                        <li>
                            관리자
                        </li>
                        <li>
                            가동일자
                        </li>
                        <li>
                            이동
                        </li>
                    </ul>
                </div>

                <div id="display_list">
                    <ul>
                        <li>
                            Null
                        </li>
                        <li>
                            Null
                        </li>
                        <li>
                            Null
                        </li>
                        <li>
                            Null
                        </li>
                        <li>
                            Null
                        </li>
                        <li>
                            Null
                        </li>
                    </ul>
                </div>
            </div>
            <!--웹 워터마크 라인-->
            <div id="footer">
    
            </div>
        </div>
    </div>
</body>
<script src="components/appbar.js"></script>
<script src="js/appbar.js" defer></script>
<script src="js/monitoring_list.js"></script>
<script src="js/viewClock.js"></script>

</html>