<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <link href="/css/appbar.css" rel="stylesheet" type="text/css" />
    <link href="/css/monitoring.css" rel="stylesheet" type="text/css" />
    <title>SmartFarm - 모니터링</title>
    <!--<script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/min/moment.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@1.8.0"></script>-->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>
        setInterval(function () {
            getSensorData();
        }, 2000);

        function getSensorData() {
            $.ajax({
                url: "/monitoring/detail/:farm_no",
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                cache: false,
                timeout: 3000,
                success: function (data) {
                    setSensorData(data.data[0]);
                    document.getElementById("log_window_content").innerHTML = data.logData;
                },

                error: function () {
                    console.log('process error');
                },
            });
        }

        function setSensorData(data) {
            var farm_id = <%=farm_status.farm_no%> -1;

            showvalue(document.getElementById("temperature_status"), data[farm_id].temperature);
            showvalue(document.getElementById("humidity_status"), data[farm_id].humidity);
            showvalue(document.getElementById("water_temperature_status"), data[farm_id].water_temperature);

            deviceSwitch(document.getElementById("compress_status"), data[farm_id].compress);
            deviceSwitch(document.getElementById("heating_system_status"), data[farm_id].heating_system);
            deviceSwitch(document.getElementById("ventilator_status"), data[farm_id].ventilator);
            deviceSwitch(document.getElementById("evaporator_status"), data[farm_id].evaporator);

            deviceSwitch(document.getElementById("humidifier_status"), data[farm_id].humidifier);
            deviceSwitch(document.getElementById("fluorescent_lamp_status"), data[farm_id].fluorescent_lamp);
            deviceSwitch(document.getElementById("led_status"), data[farm_id].led);
            deviceSwitch(document.getElementById("concentric_plug_status"), data[farm_id].concentric_plug);
        }

        function showvalue(tag, value) {
            if (value == null) {
                tag.innerHTML = '0.0';
            } else {
                tag.innerHTML = value.toFixed(1);
            }
        }

        function deviceSwitch(tag, state) {
            if (state == '1') {
                tag.innerHTML = 'ON';
                tag.style.backgroundColor = "red";
                tag.value = '1';
            } else {
                tag.innerHTML = 'OFF';
                tag.style.backgroundColor = "green";
                tag.value = '0';
            }
        }
    </script>
</head>

<body>
    <app-bar></app-bar>
    <!--메뉴바 라인-->
    <!--nav 라인-->
    <div class="home_content">
        <form method="post">
            <nav class="top">
                <fieldset class="status_field">
                    <div class="plus">
                        <div class="wrap_box">
                            <div class="head_statusbox">
                                <h2 class="title">스마트팜 모니터링</h2>
                                <div id="clock" class="clock">
                                    <p>00:00:00</p>
                                </div>
                            </div>
                        </div>
                        <div class="content_wrap">
                            <div class="control_statusbox">
                                <div class="temparature_status">
                                    <li class="status_title">
                                        온도
                                    </li>
                                    <ol class="status_value">
                                        <li id="temperature_status" class="value">0.0</li>
                                        <li class="unit">℃</li>
                                    </ol>
                                </div>
                                <div class="humidity_status">
                                    <li class="status_title">
                                        습도
                                    </li>
                                    <ol class="status_value">
                                        <li id="humidity_status" class="value">0.0</li>
                                        <li class="unit">%</li>
                                    </ol>
                                </div>
                                <div class="water_temperature_status">
                                    <li class="status_title">
                                        수온
                                    </li>
                                    <ol class="status_value">
                                        <li id="water_temperature_status" class="value">0.0</li>
                                        <li class="unit">℃</li>
                                    </ol>
                                </div>
                            </div>
    
                            <a href="#" class="chart_icon"><i class="fas fa-chart-line"></i></a>
                            <a href="#" class="on_chart_icon"><i class="fas fa-chart-line"></i></a>
                            <div class="chart">
                                <canvas id="TemperatureChart" class="TemperatureChart" width="920vw"
                                    height="390vh"></canvas>
                                <canvas id="HumidityChart" class="HumidityChart" width="920vw" height="390vh"></canvas>
                                <canvas id="SwitchChart" class="SwitchChart" width="920vw" height="390vh"></canvas>
                            </div>
                            <script>
                                setInterval(function () {
                                    getData();
                                }, 2000);
    
                                const timeData = [];
                                const tempData = [];
                                const wtempData = [];
                                const humiData = [];
    
                                const compressData = [];
                                const heating_SystemData = [];
                                const ventilatorData = [];
                                const evaporatorData = [];
                                const humidifierData = [];
    
                                chartIt();
                                async function chartIt() {
                                    var ctx1 = document.getElementById('TemperatureChart').getContext('2d');
                                    var TemperatureChart = new Chart(ctx1, {
                                        type: 'line',
                                        data: {
                                            labels: timeData,
                                            datasets: [{
                                                label: '온도',
                                                data: tempData,
                                                borderColor: 'rgb(255, 99, 132)',
                                                fill: false,
                                                //lineTension: 1,
                                                pointRadius: 0,
                                                borderWidth: 2
                                            }, {
                                                label: '수온',
                                                data: wtempData,
                                                borderColor: 'rgb(54, 162, 235)',
                                                fill: false,
                                                //lineTension: 1,
                                                pointRadius: 0,
                                                borderWidth: 2
                                            }]
                                        },
                                        options: {
                                            responsive: true,
                                            title: {
                                                text: '온도 차트 [24H]',
                                                display: true,
                                                fontSize: 12,
                                                fontStyle: 'bold'
                                            },
                                            scales: {
                                                xAxes: [{
    
                                                }],
    
                                                yAxes: [{
                                                    ticks: {
                                                        min: 0,
                                                        stepSize: 10,
                                                        suggestedMax: 30,
                                                        fontSize: 12
                                                    }
                                                }]
                                            },
    
                                            animation: {
                                                duration: false
                                            },
    
                                            tooltips: {
                                                mode: 'nearest',
                                                intersect: false
                                            },
    
                                            hover: {
                                                mode: 'nearest',
                                                intersect: false
                                            },
    
                                            legend: {
                                                display: true,
                                                position: 'bottom',
                                            }
                                        }
                                    });
    
                                    var ctx2 = document.getElementById('HumidityChart').getContext('2d');
                                    var HumidityChart = new Chart(ctx2, {
                                        type: 'line',
                                        data: {
                                            labels: timeData,
                                            datasets: [{
                                                label: '습도',
                                                data: humiData,
                                                borderColor: 'rgb(44, 111, 255)',
                                                fill: false,
                                                //lineTension: 0,
                                                pointRadius: 0,
                                                borderWidth: 2
                                            }]
                                        },
    
                                        options: {
                                            responsive: true,
                                            title: {
                                                text: '습도 차트 [24H]',
                                                display: true,
                                                fontSize: 12,
                                                fontStyle: 'bold'
                                            },
                                            scales: {
                                                xAxes: [{
    
                                                }],
    
                                                yAxes: [{
                                                    ticks: {
                                                        min: 0,
                                                        stepSize: 20,
                                                        suggestedMax: 100,
                                                        fontSize: 12,
                                                    },
                                                }]
                                            },
    
                                            animation: {
                                                duration: false
                                            },
    
                                            tooltips: {
                                                mode: 'nearest',
                                                intersect: false
                                            },
    
                                            legend: {
                                                display: true,
                                                position: 'bottom',
                                            }
                                        }
                                    });
    
                                    var ctx3 = document.getElementById('SwitchChart').getContext('2d');
                                    var SwitchChart = new Chart(ctx3, {
                                        type: 'bar',
                                        data: {
                                            labels: timeData,
                                            datasets: [{
                                                stack: 'Stack 0',
                                                label: '냉방',
                                                data: compressData,
                                                backgroundColor: 'rgb(50, 111, 120)'
                                            }, {
                                                stack: 'Stack 0',
                                                label: '난방',
                                                data: heating_SystemData,
                                                backgroundColor: 'rgb(255, 0, 0)'
                                            }, {
                                                stack: 'Stack 0',
                                                label: '환풍기',
                                                data: ventilatorData,
                                                backgroundColor: 'rgb(0, 255, 0)'
                                            }, {
                                                stack: 'Stack 0',
                                                label: '증발기',
                                                data: evaporatorData,
                                                backgroundColor: 'rgb(50, 50, 20)'
                                            }, {
                                                stack: 'Stack 0',
                                                label: '가습기',
                                                data: humidifierData,
                                                backgroundColor: 'rgb(80, 100, 40)'
                                            }]
                                        },
    
                                        options: {
                                            responsive: true,
                                            title: {
                                                text: '스위치 차트 [24H]',
                                                display: true,
                                                fontSize: 12,
                                                fontStyle: 'bold'
                                            },
                                            scales: {
                                                yAxes: [{
                                                    ticks: {
                                                        min: 0,
                                                        stepSize: 1,
                                                        fontSize: 12,
                                                    },
                                                }]
                                            },
    
                                            animation: {
                                                duration: false
                                            },
    
                                            tooltips: {
                                                mode: 'point',
                                                intersect: false
                                            },
    
                                            legend: {
                                                display: true,
                                                position: 'bottom',
                                            }
                                        }
                                    });
    
                                    setInterval(() => {
                                        updateData();
                                    }, 2000);
    
                                    function updateData() {
                                        TemperatureChart.data.datasets[0].data = tempData;
                                        TemperatureChart.data.datasets[1].data = wtempData;
                                        TemperatureChart.data.labels = timeData;
    
                                        HumidityChart.data.datasets[0].data = humiData;
                                        HumidityChart.data.labels = timeData;
    
                                        SwitchChart.data.datasets[0].data = compressData;
                                        SwitchChart.data.datasets[1].data = heating_SystemData;
                                        SwitchChart.data.datasets[2].data = ventilatorData;
                                        SwitchChart.data.datasets[3].data = evaporatorData;
                                        SwitchChart.data.datasets[4].data = humidifierData;
                                        SwitchChart.data.labels = timeData;
    
                                        TemperatureChart.update();
                                        HumidityChart.update();
                                        SwitchChart.update();
                                    }
                                }
    
                                function getData() {
                                    $.ajax({
                                        url: "/monitoring/detail/:farm_no",
                                        type: "POST",
                                        dataType: "json",
                                        contentType: "application/json",
                                        cache: false,
                                        timeout: 3000,
                                        success: function (data) {
                                            parseGraphData(data.data[1])
                                        },
    
                                        error: function () {
                                            console.log('process error');
                                        },
                                    });
                                }
    
                                function parseGraphData(data) {
                                    var graph_data = data;
                                    var farm_no = <%=farm_status.farm_no%>;
                                    var gettimeData = [];
                                    var gettempData = [];
                                    var getwtempData = [];
                                    var gethumiData = [];
    
                                    var getCompress = [];
                                    var getHeating_System = [];
                                    var getVentilator = [];
                                    var getEvaporator = [];
                                    var getHumidifier = [];
    
                                    gettimeData.length = 0;
                                    timeData.length = 0;
                                    for (var i = 0; i < graph_data.length; i++) { // y축 시간 데이터
                                        var timeData_result = graph_data.filter(function (timeData_filter) {
                                            return timeData_filter.farm_no == farm_no;
                                        });
    
                                        var timeData_graph_split = timeData_result[i].measure_date.split(" ")[1].split(":");
                                        var timeData_graph = timeData_graph_split[0] + ":" + timeData_graph_split[1];
    
                                        gettimeData.push(timeData_graph);
    
                                        timeData.push(gettimeData[i]);
                                    }
    
                                    gettempData.length = 0;
                                    tempData.length = 0;
                                    for (var i = 0; i < graph_data.length; i++) { // 대기온도
                                        var tempData_result = graph_data.filter(function (tempData_filter) {
                                            return tempData_filter.farm_no == farm_no;
                                        });
                                        var tempData_graph = tempData_result[i].temperature;
                                        gettempData.push(tempData_graph);
    
                                        tempData.push(gettempData[i]);
                                    }
    
                                    getwtempData.length = 0;
                                    wtempData.length = 0;
                                    for (var i = 0; i < graph_data.length; i++) { // 수온
                                        var wtempData_result = graph_data.filter(function (wtempData_filter) {
                                            return wtempData_filter.farm_no == farm_no;
                                        });
                                        var wtempData_graph = wtempData_result[i].water_temperature;
                                        getwtempData.push(wtempData_graph);
    
                                        wtempData.push(getwtempData[i]);
                                    }
    
                                    gethumiData.length = 0;
                                    humiData.length = 0;
                                    for (var i = 0; i < graph_data.length; i++) { // 습도
                                        var humiData_result = graph_data.filter(function (humiData_filter) {
                                            return humiData_filter.farm_no == farm_no;
                                        });
                                        var humiData_graph = humiData_result[i].humidity;
                                        gethumiData.push(humiData_graph);
    
                                        humiData.push(gethumiData[i]);
                                    }
    
                                    getCompress.length = 0;
                                    getHeating_System.length = 0;
                                    getVentilator.length = 0;
                                    getEvaporator.length = 0;
                                    getHumidifier.length = 0;
    
                                    compressData.length = 0;
                                    heating_SystemData.length = 0;
                                    ventilatorData.length = 0;
                                    evaporatorData.length = 0;
                                    humidifierData.length = 0;
                                    for (var i = 0; i < graph_data.length; i++) { // 조작
                                        var CompressData_result = graph_data.filter(function (CompressData_filter) {
                                            return CompressData_filter.farm_no == farm_no;
                                        });
                                        var Heating_SystemData_result = graph_data.filter(function (Heating_SystemData_filter) {
                                            return Heating_SystemData_filter.farm_no == farm_no;
                                        });
                                        var VentilatorData_result = graph_data.filter(function (VentilatorData_filter) {
                                            return VentilatorData_filter.farm_no == farm_no;
                                        });
                                        var EvaporatorData_result = graph_data.filter(function (EvaporatorData_filter) {
                                            return EvaporatorData_filter.farm_no == farm_no;
                                        });
                                        var HumidifierData_result = graph_data.filter(function (HumidifierData_filter) {
                                            return HumidifierData_filter.farm_no == farm_no;
                                        });
    
                                        var CompressData_graph = CompressData_result[i].compress;
                                        var Heating_SystemData_graph = Heating_SystemData_result[i].heating_system;
                                        var VentilatorData_graph = VentilatorData_result[i].ventilator;
                                        var EvaporatorData_graph = EvaporatorData_result[i].evaporator;
                                        var HumidifierData_graph = HumidifierData_result[i].humidifier;
    
                                        getCompress.push(CompressData_graph);
                                        getHeating_System.push(Heating_SystemData_graph);
                                        getVentilator.push(VentilatorData_graph);
                                        getEvaporator.push(EvaporatorData_graph);
                                        getHumidifier.push(HumidifierData_graph);
    
                                        compressData.push(getCompress[i]);
                                        heating_SystemData.push(getHeating_System[i]);
                                        ventilatorData.push(getVentilator[i]);
                                        evaporatorData.push(getEvaporator[i]);
                                        humidifierData.push(getHumidifier[i]);
                                    }
                                    //console.log(compressData);
                                }
                            </script>
                            <div class="tail_statusbox">
                                <ol class="device_status">
                                    <div class="control_box1">
                                        <div class="control_box">
                                            <li id="compress_title" class="control_title"><i class="fas fa-snowflake"></i>
                                                냉방</li>
                                            <li id="compress_status" class="control_value">...</li>
                                        </div>
                                        <div class="control_box">
                                            <li id="heating_system_title" class="control_title"><i class="fas fa-sun"></i>
                                                난방</li>
                                            <li id="heating_system_status" class="control_value">...</li>
                                        </div>
                                        <div class="control_box">
                                            <li id="ventilator_title" class="control_title"><i class="fas fa-fan"></i> 환풍기
                                            </li>
                                            <li id="ventilator_status" class="control_value">...</li>
                                        </div>
                                        <div class="control_box">
                                            <li id="evaporator_title" class="control_title"><i
                                                    class="fas fa-tint-slash"></i> 증발기</li>
                                            <li id="evaporator_status" class="control_value">...</li>
                                        </div>
                                    </div>
                                    <div class="control_box2">
                                        <div class="control_box">
                                            <li id="humidifier_title" class="control_title"><i class="fas fa-tint"></i> 가습기
                                            </li>
                                            <li id="humidifier_status" class="control_value">...</li>
                                        </div>
                                        <div class="control_box">
                                            <li id="fluorescent_lamp_title" class="control_title"><i
                                                    class="fas fa-lightbulb"></i> 형광등</li>
                                            <li id="fluorescent_lamp_status" class="control_value">...</li>
                                        </div>
                                        <div class="control_box">
                                            <li id="led_title" class="control_title"><i class="fas fa-bolt"></i> LED</li>
                                            <li id="led_status" class="control_value">...</li>
                                        </div>
                                        <div class="control_box">
                                            <li id="concentric_plug_title" class="control_title"><i class="fas fa-plug"></i>
                                                콘센트</li>
                                            <li id="concentric_plug_status" class="control_value">...</li>
                                        </div>
                                    </div>
                                </ol>
                                <div class="log_window">
                                    <p id="log_window_title" class="log_window_title">현재 데이터 : </p>
                                    <p id="log_window_content" class="log_window_content">null</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                </div>
        </form>
        <!--nav 라인-->
        <div class="status_table">
            <div class="status_box">
    
            </div>
        </div>
        <!--웹 워터마크 라인-->
        <div id="footer">
    
        </div>
    </div>
</body>
<script src="/components/appbar.js"></script>
<script src="/js/appbar.js"></script>
<script src="/js/viewClock.js"></script>

</html>