<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <link href="css/appbar.css" rel="stylesheet" type="text/css" />
    <link href="css/sensorRecorde.css" rel="stylesheet" type="text/css" />
    <title>SmartFarm-센서기록</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
</head>

<body>
    <app-bar></app-bar>
    <!--메뉴바 라인-->
    <div class="home_content">
        <form method="POST">
            <div class="wrap_box">
                <nav class="top">
                    <fieldset>
                        <div class="search_box">
                            <div class="search_box_line_1">
                                <label class="searchDevice">기기 선택 : </label>
                                <select name="deviceNumber" id="deviceNumber">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                            </div>
                            <div class="search_box_line_2">
                                <div class="dateSelectWrap">
                                    <label class="searchDate">날짜 선택 : </label>
                                    <input type="date" name="date1" id="date1" class="selectDate" value="">
                                    ~
                                    <input type="date" name="date2" id="date2" class="selectDate" value="">
                                </div>
                                <script>
                                    window.onload = function() {
                                        chooseDateDisplay();
                                    }
    
                                    function chooseDateDisplay() {
                                        var chooseDate = <%-JSON.stringify(dateWrap) %>;
                                        var chooseDate = <%-JSON.stringify(dateWrap) %>;
    
                                        document.getElementById("date1").value = chooseDate[0];
                                        document.getElementById("date2").value = chooseDate[1];
                                        document.getElementById("deviceNumber").value = chooseDate[2];
                                    }
                                </script>
                            </div>
                        </div>
                        <input type="submit" class="searchButton" value="검색하기">
                    </fieldset>
                </nav>
                <div class="graph_btn_wrap">
                    <a href="#" class="chart_icon_temp">
                        온도 그래프
                        <i class="fas fa-chart-line"></i>
                    </a>
                    <a href="#" class="chart_icon_humi">
                        습도 그래프
                        <i class="fas fa-chart-line"></i>
                    </a>
                </div>

                <div class="graph_box">
                    <div class="chart_temp">
                        <canvas id="TemperatureChart" class="TemperatureChart" width="920vw"height="380vh"></canvas>
                    </div>
                    <div class="chart_humi">
                        <canvas id="HumidityChart" class="HumidityChart" width="920vw" height="380vh"></canvas>
                    </div>
                    <div class="chart_switch">
                        <canvas id="SwitchChart" class="SwitchChart" width="920vw" height="380vh"></canvas>
                    </div>    
                </div>
                    <script>
                        const timeData = [];
                        const tempData = [];
                        const wtempData = [];
                        const humiData = [];

                        const compressData = [];
                        const heating_SystemData = [];
                        const ventilatorData = [];
                        const evaporatorData = [];
                        const humidifierData = [];

                        chartIt();

                        async function chartIt() {
                            await getData();

                            var ctx1 = document.getElementById('TemperatureChart').getContext('2d');
                            var TemperatureChart = new Chart(ctx1, {
                            type: 'line',
                            data: {
                                labels: timeData,
                                datasets: [{
                                    label: '온도',
                                    data: tempData,
                                    borderColor: 'rgb(255, 99, 132)',
                                    fill: false,
                                    //lineTension: 1,
                                    pointRadius: 0,
                                    borderWidth: 2
                                }, {
                                    label: '수온',
                                    data: wtempData,
                                    borderColor: 'rgb(54, 162, 235)',
                                    fill: false,
                                    //lineTension: 1,
                                    pointRadius: 0,
                                    borderWidth: 2
                                }]
                            },
                            options: {
                                responsive: true,
                                title: {
                                    text: '온도 차트 [24H]',
                                    display: true,
                                    fontSize: 12,
                                    fontStyle: 'bold'
                                },
                                scales: {
                                    xAxes: [{

                                    }],

                                    yAxes: [{
                                        ticks: {
                                            min: 0,
                                            stepSize: 10,
                                            suggestedMax: 30,
                                            fontSize: 12
                                        }
                                    }]
                                },

                                animation: {
                                    duration: false
                                },

                                tooltips: {
                                    mode: 'nearest',
                                    intersect: false
                                },

                                hover: {
                                    mode: 'nearest',
                                    intersect: false
                                },

                                legend: {
                                    display: true,
                                    position: 'bottom',
                                }
                            }
                        });
                        
                        var ctx2 = document.getElementById('HumidityChart').getContext('2d');
                        var HumidityChart = new Chart(ctx2, {
                            type: 'line',
                            data: {
                                labels: timeData,
                                datasets: [{
                                    label: '습도',
                                    data: humiData,
                                    borderColor: 'rgb(44, 111, 255)',
                                    fill: false,
                                    //lineTension: 0,
                                    pointRadius: 0,
                                    borderWidth: 2
                                }]
                            },

                            options: {
                                responsive: true,
                                title: {
                                    text: '습도 차트 [24H]',
                                    display: true,
                                    fontSize: 12,
                                    fontStyle: 'bold'
                                },
                                scales: {
                                    xAxes: [{

                                    }],

                                    yAxes: [{
                                        ticks: {
                                            min: 0,
                                            stepSize: 20,
                                            suggestedMax: 100,
                                            fontSize: 12,
                                        },
                                    }]
                                },

                                animation: {
                                    duration: false
                                },

                                tooltips: {
                                    mode: 'nearest',
                                    intersect: false
                                },

                                legend: {
                                    display: true,
                                    position: 'bottom',
                                }
                            }
                        });

                        var ctx3 = document.getElementById('SwitchChart').getContext('2d');
                        var SwitchChart = new Chart(ctx3, {
                            type: 'bar',
                            data: {
                                labels: timeData,
                                datasets: [{
                                    stack: 'Stack 0',
                                    label: '냉방',
                                    data: compressData,
                                    backgroundColor: 'rgb(50, 111, 120)'
                                }, {
                                    stack: 'Stack 0',
                                    label: '난방',
                                    data: heating_SystemData,
                                    backgroundColor: 'rgb(255, 0, 0)'
                                }, {
                                    stack: 'Stack 0',
                                    label: '환풍기',
                                    data: ventilatorData,
                                    backgroundColor: 'rgb(0, 255, 0)'
                                }, {
                                    stack: 'Stack 0',
                                    label: '증발기',
                                    data: evaporatorData,
                                    backgroundColor: 'rgb(50, 50, 20)'
                                }, {
                                    stack: 'Stack 0',
                                    label: '가습기',
                                    data: humidifierData,
                                    backgroundColor: 'rgb(80, 100, 40)'
                                }]
                            },

                            options: {
                                responsive: true,
                                title: {
                                    text: '스위치 차트 [24H]',
                                    display: true,
                                    fontSize: 12,
                                    fontStyle: 'bold'
                                },
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            min: 0,
                                            stepSize: 1,
                                            fontSize: 12,
                                        },
                                    }]
                                },

                                animation: {
                                    duration: false
                                },

                                tooltips: {
                                    mode: 'nearest',
                                    intersect: false
                                },

                                legend: {
                                    display: true,
                                    position: 'bottom',
                                }
                            }
                        });
                        }
                        
                        function getData() {
                            var readyForData = <%-JSON.stringify(prodList) %>;

                            readyForData.forEach(elt => {
                                var measure_date = elt.measure_date;
                                var measure_date_split = measure_date.split(" ")[1].split(":");
                                var measure_date_result = measure_date_split[0] + ":" + measure_date_split[1];
                                timeData.push(measure_date_result);
                                var temperature = elt.temperature;
                                tempData.push(temperature);
                                var humidity = elt.humidity;
                                humiData.push(humidity);
                                var water_temperature = elt.water_temperature;
                                wtempData.push(water_temperature);

                                var compress = elt.compress;
                                compressData.push(compress);
                                var heating_system = elt.heating_system;
                                heating_SystemData.push(heating_system);
                                var ventilator = elt.ventilator;
                                ventilatorData.push(ventilator);
                                var evaporator = elt.evaporator;
                                evaporatorData.push(evaporator);
                                var humidifier = elt.humidifier;
                                humidifierData.push(humidifier);

                                //console.log(measure_date_result);
                            });
                        }
                    </script>
                    <div class="table_scrollbox">
                    <div class="table_box">
                        <table id="table_list" class="table_list" summary="센서기록 출력 테이블">
                            <caption>
                                <!--목록-->
                            </caption>
                            <colgroup>
                                <col width="15%">
                                <col width="20%">
                                <col width="20%">
                                <col width="20%">
                                <col width/>
                            </colgroup>
                            <thread>
                                <tr>
                                    <th scope="col">농장번호</th>
                                    <th scope="col">온도</th>
                                    <th scope="col">습도</th>
                                    <th scope="col">수온</th>
                                    <th scope="col">측정일자</th>
                                </tr>
                            </thread>
                            <!--내용-->
                            <tbody>
                                <% prodList.forEach(function(item, index){ %>
                                    <tr>
                                        <td>
                                            <%=item.farm_no %>
                                        </td>
                                        <td>
                                            <%=item.temperature %>
                                        </td>
                                        <td>
                                            <%=item.humidity %>
                                        </td>
                                        <td>
                                            <%=item.water_temperature %>
                                        </td>
                                        <td>
                                            <%=item.measure_date %>
                                        </td>
                                    </tr>
                                <% }); %>     
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
            </div>
        </form>
        <div id="footer">

        </div>
    </div>
    </div>
    
</body>
<script src="components/appbar.js"></script>
<script src="js/appbar.js"></script>
<script src="js/graphButton.js"></script>

</html>